In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
guns = pd.read_csv('./../data/google_trend/google_terms_guns.csv')

In [3]:
jobs = pd.read_csv('./../data/google_trend/google_terms_jobs.csv')

In [4]:
lgbt = pd.read_csv('./../data/google_trend/google_terms_lgbt.csv')

In [5]:
social = pd.read_csv('./../data/google_trend/google_terms_social.csv')

In [6]:
travels = pd.read_csv('./../data/google_trend/google_terms_travels.csv')

In [7]:
woty = pd.read_csv('./../data/google_trend/google_terms_woty.csv')

In [8]:
disaster = pd.read_csv('./../data/google_trend/google_terms_disasters.csv')

In [9]:
gentrification = pd.read_csv('./../data/google_trend/google_terms_gentrification2.csv')

In [10]:
multifamily = pd.read_csv('./../data/google_trend/google_terms_multifamily_for_rent.csv')

In [11]:
homes = pd.read_csv('./../data/google_trend/google_terms_homes_for_rent.csv')

In [12]:
apartment = pd.read_csv('./../data/google_trend/google_terms_apartment_for_rent.csv')

In [13]:
df_list = [guns, jobs, lgbt, social, travels, woty, disaster, gentrification, multifamily, homes, apartment]
i=0
ss = StandardScaler()
for item in df_list:
    item.columns = item.columns.map(lambda x: x.lower())
    item.drop(columns = item.columns[8:], inplace=True)
    for col in item.columns[3:]:
        temp = pd.DataFrame(item[col])
        temp = ss.fit_transform(temp)
        item[col] = temp
    item.drop(columns = 'ispartial', inplace = True)
    if i != 0:
        item.drop(columns = ['metro', 'datetime'], inplace = True)
    i+=1

C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:847: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:689: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)
C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:847: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:689: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [14]:
full_trends = pd.concat(df_list, axis = 1).fillna(0)

In [15]:
full_trends_backup = full_trends.copy()

In [16]:
full_trends['starbucks2'] = full_trends['starbucks'].mean(axis=1)

In [17]:
full_trends.drop(columns = 'starbucks', inplace = True)

In [18]:
full_trends.rename(columns = {'starbucks2' : 'starbucks'}, inplace = True)

In [19]:
full_trends.drop(columns = ['tender age shelter', 'tourists attraction', 'gun licence'], inplace = True)

In [20]:
full_trends.rename(columns = {'metro':'Metro'}, inplace = True)

In [21]:
full_trends['year_usable'] = full_trends['datetime'].map(lambda x: int(x[0:4])+1)

In [22]:
full_trends['month'] = full_trends['datetime'].map(lambda x: int(x[5:7]))

In [ ]:
# full_trends.to_csv('./../data/google_trends_full.csv', index = False)

In [23]:
df = pd.read_csv('./../data/zri_acs_bikeshare_merged.csv', index_col = 0)

In [24]:
df.reset_index(drop=False, inplace = True)

In [25]:
df = pd.merge(df, full_trends, how = 'left', left_on = ['Metro', 'year', 'month'], right_on = ['Metro', 'year_usable', 'month'])

In [26]:
df

,zip,City,State,Metro,CountyName,zri,year,month,datetime_x,percent_white,...,home for rent,house for rent,townhome for rent,townhouse for rent,apartment for rent,studio for rent,1 bedroom for rent,3 bedroom for rent,starbucks,year_usable
0,1013,Chicopee,MA,Springfield,Hampden County,928.0,2014,1,2014-01-01,0.728315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1013,Chicopee,MA,Springfield,Hampden County,931.0,2014,2,2014-02-01,0.727052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1013,Chicopee,MA,Springfield,Hampden County,934.0,2014,3,2014-03-01,0.725788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,4,2014-04-01,0.724525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,5,2014-05-01,0.723261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93667,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,0.570864,-0.229486,0.0,0.0,-0.131857,0.0,0.0,0.0,-0.142827,2019.0
93668,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,-1.612318,-0.736312,0.0,0.0,-0.781349,0.0,0.0,0.0,0.784471,2019.0
93669,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,-1.612318,-0.229486,0.0,0.0,-1.755587,0.0,0.0,0.0,1.012645,2019.0
93670,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,-1.612318,-0.989725,0.0,0.0,-1.106095,0.0,0.0,0.0,2.016323,2019.0
93671,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,-0.302408,0.023927,0.0,0.0,0.192889,0.0,0.0,0.0,0.534630,2019.0

In [27]:
df.drop(columns = 'datetime_y', inplace = True)

In [28]:
df.rename(columns = {'datetime_x':'datetime'}, inplace = True)

In [29]:
bds = pd.read_csv('./../data/bds_updated.csv', index_col = 0)

In [45]:
merged = pd.merge(df, bds, how = 'left', left_on = ['zip', 'State', 'CountyName', 'zri', 'datetime'], right_on = ['zip', 'State', 'CountyName', 'zri', 'year-month'])

In [46]:
merged

,zip,City_x,State,Metro_x,CountyName,zri,year_x,month,datetime,percent_white,...,starbucks,year_usable,City_y,Metro_y,year-month,year_y,total_firms,job_creation_rate,job_destruction_rate,startup_firms
0,1013,Chicopee,MA,Springfield,Hampden County,928.0,2014,1,2014-01-01,0.728315,...,NaN,NaN,Chicopee,Springfield,2014-01-01,2014,7376.0,9.97200,9.108000,393.000000
1,1013,Chicopee,MA,Springfield,Hampden County,931.0,2014,2,2014-02-01,0.727052,...,NaN,NaN,Chicopee,Springfield,2014-02-01,2014,7373.0,9.99275,9.034667,392.166667
2,1013,Chicopee,MA,Springfield,Hampden County,934.0,2014,3,2014-03-01,0.725788,...,NaN,NaN,Chicopee,Springfield,2014-03-01,2014,7370.0,10.01350,8.961333,391.333333
3,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,4,2014-04-01,0.724525,...,NaN,NaN,Chicopee,Springfield,2014-04-01,2014,7367.0,10.03425,8.888000,390.500000
4,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,5,2014-05-01,0.723261,...,NaN,NaN,Chicopee,Springfield,2014-05-01,2014,7364.0,10.05500,8.814667,389.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93667,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,-0.142827,2019.0,Wasilla,Anchorage,2019-08-01,2019,1750.0,16.77200,16.359000,161.000000
93668,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,0.784471,2019.0,Wasilla,Anchorage,2019-09-01,2019,1750.0,16.77200,16.359000,161.000000
93669,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,1.012645,2019.0,Wasilla,Anchorage,2019-10-01,2019,1750.0,16.77200,16.359000,161.000000
93670,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,2.016323,2019.0,Wasilla,Anchorage,2019-11-01,2019,1750.0,16.77200,16.359000,161.000000
93671,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.534630,2019.0,Wasilla,Anchorage,2019-12-01,2019,1750.0,16.77200,16.359000,161.000000

In [47]:
merged.drop(columns = ['City_y', 'Metro_y', 'year_y', 'year-month'], inplace = True)

In [48]:
merged.rename(columns = {'City_x': 'City', 'Metro_x': 'Metro', 'year_x':'year'}, inplace = True)

In [49]:
merged

,zip,City,State,Metro,CountyName,zri,year,month,datetime,percent_white,...,apartment for rent,studio for rent,1 bedroom for rent,3 bedroom for rent,starbucks,year_usable,total_firms,job_creation_rate,job_destruction_rate,startup_firms
0,1013,Chicopee,MA,Springfield,Hampden County,928.0,2014,1,2014-01-01,0.728315,...,NaN,NaN,NaN,NaN,NaN,NaN,7376.0,9.97200,9.108000,393.000000
1,1013,Chicopee,MA,Springfield,Hampden County,931.0,2014,2,2014-02-01,0.727052,...,NaN,NaN,NaN,NaN,NaN,NaN,7373.0,9.99275,9.034667,392.166667
2,1013,Chicopee,MA,Springfield,Hampden County,934.0,2014,3,2014-03-01,0.725788,...,NaN,NaN,NaN,NaN,NaN,NaN,7370.0,10.01350,8.961333,391.333333
3,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,4,2014-04-01,0.724525,...,NaN,NaN,NaN,NaN,NaN,NaN,7367.0,10.03425,8.888000,390.500000
4,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,5,2014-05-01,0.723261,...,NaN,NaN,NaN,NaN,NaN,NaN,7364.0,10.05500,8.814667,389.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93667,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,-0.131857,0.0,0.0,0.0,-0.142827,2019.0,1750.0,16.77200,16.359000,161.000000
93668,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,-0.781349,0.0,0.0,0.0,0.784471,2019.0,1750.0,16.77200,16.359000,161.000000
93669,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,-1.755587,0.0,0.0,0.0,1.012645,2019.0,1750.0,16.77200,16.359000,161.000000
93670,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,-1.106095,0.0,0.0,0.0,2.016323,2019.0,1750.0,16.77200,16.359000,161.000000
93671,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.192889,0.0,0.0,0.0,0.534630,2019.0,1750.0,16.77200,16.359000,161.000000

In [50]:
taxes = pd.read_csv('./../data/final_TAXES_by_zip.csv')

In [52]:
zips = list(merged['zip'].unique())

In [53]:
taxes = taxes.rename(columns = {'ZIPCODE': 'zip'})

In [54]:
taxes = taxes[taxes['zip'].isin(zips)]

In [55]:
taxes['year_usable'] = taxes['year']+1

In [56]:
taxes.drop(columns = 'year', inplace = True)

In [57]:
taxes

          zip  state_local_perc  month  year_usable
0        1013               NaN      1         2013
1        1013               NaN      2         2013
2        1013               NaN      3         2013
3        1013               NaN      4         2013
4        1013               NaN      5         2013
...       ...               ...    ...          ...
109279  99654          0.005540      8         2019
109280  99654          0.005132      9         2019
109281  99654          0.004724     10         2019
109282  99654          0.004316     11         2019
109283  99654          0.003908     12         2019

[109284 rows x 4 columns]

In [58]:
merged2 = pd.merge(merged, taxes, left_on = ['zip', 'year', 'month'], right_on = ['zip', 'year_usable', 'month'], how = 'left')

In [59]:
merged2

,zip,City,State,Metro,CountyName,zri,year,month,datetime,percent_white,...,1 bedroom for rent,3 bedroom for rent,starbucks,year_usable_x,total_firms,job_creation_rate,job_destruction_rate,startup_firms,state_local_perc,year_usable_y
0,1013,Chicopee,MA,Springfield,Hampden County,928.0,2014,1,2014-01-01,0.728315,...,NaN,NaN,NaN,NaN,7376.0,9.97200,9.108000,393.000000,0.179915,2014
1,1013,Chicopee,MA,Springfield,Hampden County,931.0,2014,2,2014-02-01,0.727052,...,NaN,NaN,NaN,NaN,7373.0,9.99275,9.034667,392.166667,0.179675,2014
2,1013,Chicopee,MA,Springfield,Hampden County,934.0,2014,3,2014-03-01,0.725788,...,NaN,NaN,NaN,NaN,7370.0,10.01350,8.961333,391.333333,0.179435,2014
3,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,4,2014-04-01,0.724525,...,NaN,NaN,NaN,NaN,7367.0,10.03425,8.888000,390.500000,0.179194,2014
4,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,5,2014-05-01,0.723261,...,NaN,NaN,NaN,NaN,7364.0,10.05500,8.814667,389.666667,0.178954,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93667,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,0.0,0.0,-0.142827,2019.0,1750.0,16.77200,16.359000,161.000000,0.005540,2019
93668,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,0.0,0.0,0.784471,2019.0,1750.0,16.77200,16.359000,161.000000,0.005132,2019
93669,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,0.0,0.0,1.012645,2019.0,1750.0,16.77200,16.359000,161.000000,0.004724,2019
93670,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,0.0,0.0,2.016323,2019.0,1750.0,16.77200,16.359000,161.000000,0.004316,2019
93671,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.0,0.0,0.534630,2019.0,1750.0,16.77200,16.359000,161.000000,0.003908,2019

In [60]:
merged2.drop(columns = ['year_usable_x', 'year_usable_y'], inplace = True)

In [61]:
merged2

,zip,City,State,Metro,CountyName,zri,year,month,datetime,percent_white,...,apartment for rent,studio for rent,1 bedroom for rent,3 bedroom for rent,starbucks,total_firms,job_creation_rate,job_destruction_rate,startup_firms,state_local_perc
0,1013,Chicopee,MA,Springfield,Hampden County,928.0,2014,1,2014-01-01,0.728315,...,NaN,NaN,NaN,NaN,NaN,7376.0,9.97200,9.108000,393.000000,0.179915
1,1013,Chicopee,MA,Springfield,Hampden County,931.0,2014,2,2014-02-01,0.727052,...,NaN,NaN,NaN,NaN,NaN,7373.0,9.99275,9.034667,392.166667,0.179675
2,1013,Chicopee,MA,Springfield,Hampden County,934.0,2014,3,2014-03-01,0.725788,...,NaN,NaN,NaN,NaN,NaN,7370.0,10.01350,8.961333,391.333333,0.179435
3,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,4,2014-04-01,0.724525,...,NaN,NaN,NaN,NaN,NaN,7367.0,10.03425,8.888000,390.500000,0.179194
4,1013,Chicopee,MA,Springfield,Hampden County,929.0,2014,5,2014-05-01,0.723261,...,NaN,NaN,NaN,NaN,NaN,7364.0,10.05500,8.814667,389.666667,0.178954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93667,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,-0.131857,0.0,0.0,0.0,-0.142827,1750.0,16.77200,16.359000,161.000000,0.005540
93668,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,-0.781349,0.0,0.0,0.0,0.784471,1750.0,16.77200,16.359000,161.000000,0.005132
93669,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,-1.755587,0.0,0.0,0.0,1.012645,1750.0,16.77200,16.359000,161.000000,0.004724
93670,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,-1.106095,0.0,0.0,0.0,2.016323,1750.0,16.77200,16.359000,161.000000,0.004316
93671,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.192889,0.0,0.0,0.0,0.534630,1750.0,16.77200,16.359000,161.000000,0.003908

In [62]:
merged2.to_csv('./../data/full_dataset_unscaled.csv', index = False)